@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-background-color {
  background: #111;
}
.custom-background-color1 {
  background: #181818;
}
.custom-background-color2 {
  background: #222;
}
.custom-background-color3 {
  background: #333;
}
button.custom-background-color3:hover {
  background: #222;
}
.custom-color {
  color: #aaa;
}
.custom-border-color {
  border-color: #666;
}
.modal-overlay {
  background: #000;
  opacity: 0.6;
}